/* Root Container */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

/* Body Styles */
body {
  min-width: 320px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

/* Icon Resizing */
.icon-large {
  font-size: 2.5em;
}

/* Typography */
.headline-medium {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.title-medium {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.title-small {
  font-family: "Space Grotesk", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 38.28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 11px 0 40px 0;
}

.gradient-line {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 166, 231, 1),
    rgba(221, 3, 132, 1)
  );
  justify-self: stretch; /* Ensure it spans across the column area */
  align-self: center;
}

/* Court Info */

.game-info {
  display: grid;
  grid-template-rows: auto auto 1px auto auto 1px; /* 1px for gradient lines */
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-areas:
    "el1 el2"
    "el3 el4"
    "line1 line1"
    "el5 el6"
    "el7 el8"
    "line2 line2";
  gap: 6px 0px;
  width: 100%;
  margin: 16px 0;
  box-sizing: border-box;
}

.game-info > * {
  align-self: center;
}

.game-info .team {
  grid-area: el1;
  justify-self: start;
}

.game-info .camera {
  grid-area: el2;
  justify-self: end;
}

.game-info .court5 {
  grid-area: el3;
  justify-self: start;
}

.game-info .gradient-line:first-of-type {
  grid-area: line1;
}

.game-info .game-length {
  grid-area: el5;
  justify-self: start;
}

.game-info .date {
  grid-area: el6;
  justify-self: end;
}

.game-info .length {
  grid-area: el7;
  justify-self: start;
}

.game-info .time {
  grid-area: el8;
  justify-self: end;
}

.game-info .gradient-line:last-of-type {
  grid-area: line2;
}

.court5 {
  color: rgba(0, 166, 231, 1);
}

.pink {
  color: rgba(228, 0, 132, 1);
}

/* Buttons */
.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: 1px solid rgba(228, 0, 132, 1);
  margin: 16px 0;
  padding: 0 22px;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-left {
  border-radius: 50px 0 0 50px;
}

.button-right {
  border-radius: 0 50px 50px 0;
  background-color: rgba(228, 0, 132, 1);
}

/* Avatar */
.avatar {
  width: 91px;
  height: 91px;
  border-radius: 200px;
}

.card-grid-performance {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9px; /* Adjust spacing between cards */
}

/* Card Layout */
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9px; /* Adjust spacing between cards */
}

.card-small {
  height: 194px;
  margin-bottom: 0;
}

.sm-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card-icon {
  font-size: 2rem;
  background-color: rgba(0, 166, 231, 1);
  padding: 20px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 1);
}

.card-data {
  font-size: 1rem;
}

/* Performance */
.performance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.teams {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Charts */
.charts {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(
      4,
      1fr
    ); /* 3 cards per row for medium screens */
    gap: 16px; /* Increase spacing between cards */
  }

  .card-small {
    height: 220px; /* Adjust card height */
  }

  .button {
    height: 60px; /* Increase button height */
    width: auto; /* Adjust button width */
  }

  .headline-medium {
    font-size: 32px; /* Larger font for headlines */
  }

  .wide {
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(
      4,
      1fr
    ); /* 4 cards per row for large screens */
  }

  .card-small {
    height: 250px; /* Larger card height */
  }

  .court5 {
    font-size: 40px; /* Increase text size for large screens */
  }

  .title-medium {
    font-size: 1.2rem; /* Larger text size */
  }

  .avatar {
    width: 120px;
    height: 120px; /* Larger avatar size */
  }

  .button {
    padding: 0 30px; /* Adjust button padding */
  }
}

.chart-card-content .dead-zone {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dead-p {
  border: 2px solid rgba(0, 166, 231, 1);
  padding: 1px 32px;
  border-radius: 200px;
  margin-top: 7px;
}

.controller-btns {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0px;

  width: auto;

  left: 16px;
  top: 133px;

  background-color: #00a6e733;
  border-radius: 100px;
}

.controller-button.selected {
  background-color: rgba(0, 166, 231, 1);
}

.controller-button {
  flex-grow: 1;
  flex-basis: auto;
  width: 100%;
  gap: 8px;

  padding: 14px 21px;
  border-radius: 100px;
  color: rgba(255, 255, 255, 1);

  border: 0px;
  background: transparent;

  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
}
