#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

body {
  min-width: 320px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

/* Resizing icons */

.icon-large {
  font-size: 2.5em;
}

/*  */

